<div id="new_drawing font30">

  <div class="slider center autoplay">
    <% @drawings.each do |drawing| %>
      <img src="<%= drawing.image_url %>", class="image_border slick-image box-shadow">
    <% end %>
  </div>

  <center><div id="map" class="box-shadow"></div></center>


  <% unless current_user %>
    <h4>Sign up or log in to start drawing!</h3>
  <% end %>

  <ul class="flex-container">
    <% @drawings.each do |drawing| %>
      <img src="<%= drawing.image_url %>" class="flex-item box-shadow">
    <% end %>
  </ul>

</div>



