<center><h1>Drawing Edit</h1></center>

<center><div id="canvas_content">
    <%= image_tag(@drawing.image_url) %>

    <form action="/drawings" method="post">
      <input type="button" id="save" value="Save to PNG">
    </form>
</div></center>