<center><h1>My Drawings</h1></center>

<div class="">
  <% if @drawings %>
    <% @drawings.reverse.each do |drawing| %>
      <center><h4>Title: <%= drawing.title %></h4></center>
     
      <center><a href="/drawings/<%= drawing.id %>"><img class="user_drawings" src="<%= drawing.image_url %>"></a></center>
    <% end %>
  <% else %>
    <p> You have no drawings yet! Go draw! <%= link_to 'Draw', root_path %></p>
  <% end %>
</div>