.ul_nav {
    list-style-type: none;
    font-family: 'Rajdhani', sans-serif;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f9f9f9;
    /*position: fixed;*/
    width: 100%;
    z-index: 3;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.ul_nav > li {
    float: left;
    border-right: 1px solid black;
}

.ul_nav > li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.ul_nav > li > a:hover {
    color: white;
    background-color: #383838;
}

.float-right {
  float: right;
}