.ul_nav {
    list-style-type: none;
    font-family: 'Coiny', cursive;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E54B4B;
}

.ul_nav > li {
    float: left;
    border-right: 1px solid black;
}

.ul_nav > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.ul_nav > li a:hover {
    background-color: #b71919;
}

.float-right {
  float: right;
}