body {
  background-color: white;
}

.slider-bg {
  /*background-color: black;*/
  padding-top: 15px;
  padding-bottom: 1px;
  border-bottom: 1px solid #bfbfbf;
  /*background: linear-gradient(to bottom, #f2f9fe 0%,#d6f0fd 100%);*/
  /*background-color: #001e2d;*/
}

.imgs-bg-index {
  padding-top: 20px;
  padding-bottom: 20px;
}

#drawings_of_day {
  margin-top: 10px;
  margin-right: 400px;
  margin-left: 400px;
  border-radius: 20%;
  text-align: center;
  background-color: black;
  font-family: 'Special Elite', cursive;
  box-shadow: 0 0 15px 5px #141414;
}

#drawings_of_day > h2 {
  font-size: 30px;
  color: white;
}